.cover__subtitle{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
width: 360px;
position: relative;
margin: 32px 0 0 ;
}