.footer__copyright{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-weight: normal;
margin: 0;
font-size: 14px;
line-height: 16px;
text-align: right;
color: #FFFFFF;
}

@media screen and (max-width: 686px){
    .footer__copyright{padding-top: 48px;  
                       font-size: 14px;
                       line-height: 14px;          
    }
    }
